{% extends 'games_rental_app/base.html' %}

{% block content %}
<div class="game-container">
    <div class="game-column">
        <h1>Zanurz się w Świat Gry z Naszą Wypożyczalnią!</h1>
        <p>Czy jesteś fanem gier planszowych? W naszej wypożyczalni znajdziesz ponad 200 różnych gier, od klasycznych strategii po pełne przygód gry rodzinne. Wypożyczaj i odkrywaj nowe światy – każda gra opowiada inną historię.</p>
        <p>Z "7 Cudów Świata" poczuj magię starożytnych miast, a "24 godziny" zapewnią dreszczyk emocji i współpracę. Nasza różnorodna oferta gier gwarantuje, że każdy znajdzie coś dla siebie – od gier strategicznych po towarzyskie.</p>
        <p><strong>Dołącz do grona naszych zadowolonych klientów i rozpocznij swoją grę już dziś!</strong></p>
    </div>
</div>
{% endblock %}
